## ***Pivoting and Unpivoting***

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd

In [ ]:
# importing the data    
pq = pd.read_csv("PQ Exercise 1d.csv")

In [ ]:
# checking the columns in the dataframe
pq.columns

- You'll notice in the results of the cell above and below is that a lot of features of this dataframe are dates and only three seem to be actual feature names that we see regularly in datasets. Let's investigate further.

In [ ]:
pq

- You'll notice that in the "Metric" column, it has two items, "Sales" and "Margin". Let's proceed to do something called unpivoting or melting the data.

### **Unpivoting (Melt) the Data**
- Transforming the wide format (where dates are columns) into a long format (where dates become rows), using the melt function.

In [ ]:
df = pd.melt(pq, id_vars = ["Metric", "Store", "Cat"], var_name = "Date", value_name = "Value")
# id_vars: These are the columns that will remain as identifiers (in the case, Store, Cat, and Metric).

- We invoke the melt method that works directly with pandas.
- The "id_vars" are identifier variables, these are the features that we like and what them to remain there, unmelted.
- The "var_name" are the measured variables, these are the columns that you want to create where the melted data falls under and,
- The value_name" is telling python to all the values under the "Date" column will be melted under the newly created column (which is in "value").

In [ ]:
df.head(20)

- You can recognise the stack difference between the first dataframe and this new dataframe. But data preprocessing work isn't done yet.

In [ ]:
df.shape

In [ ]:
pd.set_option("display.max_rows", 544)

In [ ]:
# df

- If you observe the dataframe, you'll notice that the NaN that comes after either "Sales" or "Margin" should have been registered as "Sales" and "Margin". 
- It's like when you're physically registering items in the drawn table in a notebook and you decide to use "//" or "" just to show that there's a repetition of the same item as written above it. 
- What we're going to do now is to make sure that all cells that should "Sales" in them so be registered so and likewise for "Margin".
- That will introduce us to the ffill() method.

### ***Fill Down Missing Values in the Metric Column***
- To fill down the Metric Column, use ffill() (forward fill)

In [ ]:
# Fill down the Metric Column
df["Metric"] = df["Metric"].ffill()

- The ffill() method tells python to check the item in the dataframe ans fill down or fill forward accordingly until you meet another item and do the same thing.

In [ ]:
df.sample(10)

- Our preprocessing continues, you'll also notice that the Metric columns isn't necessary, because we have a lot of "Sales" instances and "Margin" instances and those could be there own columns, housing their own data. Chaning that is called pivoting.

### ***Pivot the Data (Spread Metric into Sales and Margin)***
- Now that the Metric column is filled, you can pivot the data to separate Sales and Margin into different columns.

In [ ]:
df = df.pivot_table(index = ["Store", "Cat", "Date"], columns = "Metric", values = "Value").reset_index()

- To do this we invoked the pivot_table() method.
- The "index" parameter includes a list of items that are the column names of the columns that needs to remain untourched in the dataframe.
- the "columns" parameter takes in the name of the column (in this case "Metric") that we wanted pivoted.
- The "values" parameter just talls python to use the corresponding value.
- "reset_index" gives us a new set of indexes.

In [ ]:
df.head(10)

- Notice the changes?
- What can you observe?

- The next agenda is to remove the column name metric from the dataframe because it holds the indexes and the indexes doesn't need a column name.

In [ ]:
df.columns.name = None

In [ ]:
df.head()

In [ ]:
df.isnull().any()

In [ ]:
df.Date.info()

- The next step in our preprocessing process is to convert the items in our date column from "object" to "datetime".

### ***Convert the Data Column to a Datetime Object***

In [ ]:
df["Date"] = pd.to_datetime(df["Date"], errors = "coerce", format = "%m/%d/%Y")

- If you're not aware of all the conditions that occurs under the date columns, like the multiple null values, just use the parameter "errors" and set it to "coerce".

In [ ]:
df

In [ ]:
# Removing null values
df["Date"].dropna()

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.reset_index().drop(columns= "index", axis = 1).head()

- Creating new columns

In [ ]:
df["Profit"] = round((df["Margin"] * df["Sales"]), 2)

In [ ]:
df["COGS"] = round((df["Sales"] - df["Profit"]), 2)

In [ ]:
df["Month"] = df["Date"].dt.month_name()

In [ ]:
df["Year"] = df["Date"].dt.year

In [ ]:
df["Expenses"] = df["Sales"] - df["Profit"]

In [ ]:
df.head()

In [ ]:
df.groupby("Month")["Profit"].sum()

In [ ]:
df.rename(columns = {"Cat" : "Category"}, inplace = True)

In [ ]:
df.groupby("Store")["Sales"].sum().sort_values(ascending = False)

In [ ]:
df.groupby("Year").agg({"Sales":"sum", "Profit" : "sum", "Margin" : "mean", "Expenses" : "sum"}).sort_values(by = "Profit", ascending = False)

In [ ]:
df.groupby("Category").agg({"Sales":"sum", "Profit" : "sum", "Margin" : "mean", "Expenses" : "sum"}).sort_values(by = "Profit", ascending = False)

In [ ]:
df.groupby(["Month", "Year"]).agg({"Sales":"sum", "Profit" : "sum", "Margin" : "mean", "Expenses" : "sum"}).sort_values(by = "Margin", ascending = False)

In [ ]:
df.head()